<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <div>
    <ion-toggle [enableOnOffLabels]="true" labelPlacement="stacked" ara-label="Tertiary toggle" color="tertiary" [checked]="true" alignment="center">¿Desea poder borrar citas en el inicio (frase aleatoria)?</ion-toggle>
  </div>
  
</ion-content>
