<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button routerLink="/home">
      <ion-icon name="home-outline" slot="start"></ion-icon>
      Home
    </ion-button>
    <ion-button routerLink="/quotes">
      <ion-icon name="chatbubbles-outline" slot="start"></ion-icon>
      Quotes
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button routerLink="/settings">
      <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
